BOOKROVER_DOMAIN="127.0.0.1"
WEBSERVER_PORT="8080"
ENGINE_PORT="21801"
HARDCOVER_API_KEY="<Input your Hardcover API key here>"
HARDCOVER_API_URL="https://api.hardcover.app/v1/graphql"
POSTGRES_USERNAME="bookrover_admin"
POSTGRES_PASSWORD="bookrover_admin"
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"
MAX_BOOKS_DB_SIZE="10000"
EMBEDDING_MODEL="nomic-ai/nomic-embed-text-v1.5"
EMBEDDING_DIMENSIONS="768"
HUGGING_FACE_TOKEN="<Input your Huggingface API key here (optional)>"
LLM_TYPE="Claude"
LLM_MODEL="claude-haiku-4-5"
LLM_API_KEY="<Input your Claude (or other LLM) API key here>."